* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #c43e23;
  --secondary: #696343;
  --light: #faebdd;
  --medium: #a79775;
  --dark: #262e12;
}

html {
  font-size: 62,5%;
  font-family: 'Italiana', serif;
  scroll-behavior: smooth;
  background-color: #c3c3c3;
}

/** HEADER AND NAVBAR **/

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 50px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--primary);
  z-index: 100;
}

.navbar__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--light);
}

.navbar__menu-icon, .navbar__menu-icon--close {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/icon/menu.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.navbar__menu-icon--close {
  width: 30px;
  height: 30px;
  background-image: url("../assets/icon/close.png");
}

.navbar__menu {
  position: fixed;
  top: -100%;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--primary);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .5);
  transition: top ease 1s;
}

.active {
  top: 40px;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.menu__links li {
  padding: 5px;
}

.menu__links li:hover {
  border-radius: 50px;
  background-color: var(--medium);
  cursor: pointer;
  transition: all ease .3s;
}

.menu__links a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 2.2rem;
  color: var(--light);
}

/** MAIN-CONTAINER **/

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  z-index: -2;
}

.main-container img {
  position: absolute;
  top: -8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -4;
}

.main-container h2 {
  margin: auto;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.8rem;
  text-align: center;
  color: var(--light);
}

.main-container__down {
  position: absolute;
  bottom: 40px;
  text-align: center;
  color: var(--light);
}

.main-container__down p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.main-container__down span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  background-image: url("../assets/icon/arrow2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation:bajar 1.5s alternate infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bajar {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(30px);
  }
}

/** FIRST SECTION **/

.main-reserva {
  width: 100%;
  min-width: 320px;
  height: auto;
}

.background-reserva {
  display: none;
}

.reserva-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--medium);
}

.reserva-info h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: var(--light);
  text-transform: uppercase;
}

.reserva-info form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.date ,.persons, .hours{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

label {
  font-size: 1.0rem;
  font-weight: 600;
  line-height: 2.0rem;
  margin-right: 10px;
}

input, select {
  width: 60%;
  padding: 6px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid var(--dark);
  color: var(--dark);
}

.btn-submit {
  width: 100%;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  color: var(--light);
}

.btn-submit:hover {
  background-color: #b94d37;
  cursor: pointer;
}

/** SECOND SECTION **/

.main-carta {
  width: 100%;
  min-width: 320px;
  height: auto;
}

.main-carta h2 {
  margin-top: 30px;
  padding: 6px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.8rem;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 14px;
}

.card-carta {
  width: 100%;
  max-width: 350px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  background-color: var(--primary);
  box-shadow: 0px 10px 20px 0px var(--dark);
}

.card-carta h3 {
  margin: 10px 0 10px 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--light);
}

.card-carta p {
  margin-bottom: 10px;
  padding: 6px;
  font-family: "Loto", sans-serif;
  color: var(--light);
}

.card-carta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/** CONTACT SECTION **/

.main-contact {
  width: 100%;
  padding: 10px;
  background-color: var(--medium);
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light);
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact-icons .facebook, .instagram, .twitter {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-icons .facebook {
  background-image: url("../assets/icon/facebook.svg");
}

.contact-icons .instagram {
  background-image: url("../assets/icon/instagram.svg");
}

.contact-icons .twitter {
  background-image: url("../assets/icon/twitter.svg");
}

/** FOOTER **/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--secondary);
}

footer span {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px 0 10px 0;
  color: var(--light);
}

footer article {
  font-family: "Lato", sans-serif;
  font-size: .9rem;
  margin-bottom: 10px;
  text-align: center;
  color: var(--light);
}
